/* js_017_banner_03_indicator.css */

#wrap {
  width:100%; min-width:1280px; max-width:1920px;
  height:auto;
  margin:auto;
  padding-bottom:31.25rem;
}

/* .part 광고배너 영역 큰 틀 세팅 */
.part {
  position:relative;
  width:100%; max-width:1600px; height:auto; /* 1600px 이하는 꽉차게 */
  margin:auto; margin-top:1rem;
  padding-bottom:4rem;
  background-color:#ccc;
}

h2{
  width:100%; height:100%;
  padding:1rem; box-sizing:border-box;
  font-size:1.5rem; margin-bottom:1rem;
  text-align:center;
}

/* .indicator */
.indicator { 
  position:absolute;
  left:0; right:0; bottom:1rem;
  text-align:center;
  width:100%; height:auto;
  background-color:#daa;
  margin:auto;
}

.indicator ul {
  display:inline-block; /* 가운데 배치할 때 display:inline-block, text-align:center */
  /* text-align:center; */
  width:auto; height:auto;
  padding:0.3rem;
  border-radius:3rem;
  background-color:#557;
}

.indicator li {
  display:inline-block;
  width:2rem; height:2rem;
  margin-right:1rem;
  transition: all 200ms ease;
}

.indicator li:last-child{  margin-right:0; }
.indicator li a {
  display:block;
  width:100%; height:100%;
  background-color:#fff;
  border-radius:2rem;
  box-sizing:border-box;
}

.indicator li.act { width:4rem; }
.indicator li.act a { background-color:#ff0; }
.indicator li a:hover { box-shadow:0.2rem 0.2rem 0.2rem #171717;}
.indicator li a:focus { outline:0; border: 2px solid #171717;}
/* focus할때 테두리 안보이게 처리 : outline:0; */

/* .view_area */
.view_area {
  overflow:hidden;
  width:80%; height:500px;
  margin:auto; border:0.0625rem solid #555;
  box-sizing: border-box;
}

.view_area ul {
  width:500%; height:100%;
  background-color:#aaa;
}
.view_area li { 
  float:left;
  width:calc(100% / 5); height:100%;
  padding:2rem; box-sizing: border-box;
  font-size:3rem; font-weight:700;
  color:#fff;
}

#viewSelect_01 { background-color:#03D594aa;}
#viewSelect_02 { background-color:#EC5158aa;}
#viewSelect_03 { background-color:#E78B92aa;}
#viewSelect_04 { background-color:#D08991aa;}
#viewSelect_05 { background-color:#9BFDCFaa;}