/* js_015_banner_01.css */
#wrap {
  padding-bottom: 800px;
}


.part {
  width:700px; height:400px;
  margin:auto; margin-bottom:50px;
  border:1px solid #777;
  border-radius: 8px; padding:16px;
  box-sizing:border-box;
}

h3 {
  width:100%;
  margin-bottom:16px;
  padding-bottom:8px;
  border-bottom: 1px solid #555;
}

.btn {
  width:70%; height:50px;
  margin:auto; box-sizing: border-box;
  /* background-color:#ddd; */
}

.btn p{
  float:left;
  width:50px; background-color:#caa;
  padding-top:25px;
  text-align: center;
}

.total_text { float:right; }
.now_text { float:left; }

.slide_btn {
  float:right;
  width:120px; height:50px;
}

.btn button {
  float:right;
  width:50px; height:50px;
  border-radius:100%;
  background-color:#057;
  color:#fff; font-weight:700;
  line-height:1;
}

.btn button:first-of-type { margin-right:10px; }

.product {
  width:70%; height:250px;
  margin:auto; margin-top: 20px;
  padding:0; box-sizing: border-box;
  /* background-color:#ddd; */
  border:5px solid #59f;
  overflow:hidden;
}

.product ul {
  width:700%; height:100%;
  /* background-color: rgba(51,100,200,0.2); */
}

.product li {
  float:left;
  width:calc(100% / 7); height:100%;
  padding:20px; box-sizing:border-box;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:cover;
}

.product .slide_01{ background-color: rgba(193,174,62,0.5);}
.product .slide_02{ background-color: rgba(235,30,250,0.5);}
.product .slide_03{ background-color: rgba(176,137,115,0.5);}
.product .slide_04{ background-color: rgba(33,216,97,0.5);}
.product .slide_05{ background-color: rgba(199,243,122,0.5);}
.product .slide_06{ background-color: rgba(102,148,53,0.5);}
.product .slide_07{ background-color: rgba(25,147,124,0.5);}
.product .slide_08{ background-color: rgba(125,87,238,0.5);}
.product .slide_09{ background-color: rgba(81,242,70,0.5);}
.product .slide_10{ background-color: rgba(58,173,98,0.5);}
.product .slide_11{ background-color: rgba(53,248,77,0.5);}
.product .slide_12{ background-color: rgba(253,53,4,0.5);}
.product .slide_13{ background-color: rgba(67,47,9,0.5);}

/* js에선 css와 달리 존재하는 것에만 적용하기 때문에 nth 말고 class 이름으로 지정해주어야힌다!!! */