/* css/src/login_page_practice.css */

#wrap {
  width:276px; height:400px;
  border-radius:7px; box-sizing:border-box;
  margin:auto; margin-top:50px;
  background-color:#fff;
  box-shadow: 5px 5px 10px 10px #ddd;
}

.part_up {
  width:276px; height:210px;
  background-image:url(../../img/login/1x/Asset.png)
}

dt {
  padding-top:102px; box-sizing: border-box;
  text-align:center; font-family: 'Noto Sans KR';
  font-size:12px;
}

dd {
  width:54px; height: 16px;
  margin:auto; margin-top:10px; box-sizing: border-box;
  font-size:9px; text-align:center; font-family: 'Noto Sans KR';
  border-radius:7px;
  background-color:#fff;
}

.welcome {
  color:#fff; text-align:center;
  font-size: 20px; font-family: 'Noto Sans KR';
  margin-top:26px;
}

.part_down {
  width:276px; height:290px;
}

fieldset {
  border-style: none;
  padding-top:30px; box-sizing:border-box;
}

.textInput {
  display:block;
  width:130px; height:20px;
  margin:auto; margin-top:10px; box-sizing: border-box;
  text-align:center; color:#fff;
  background-image: linear-gradient(45deg, #472a77, #9f478e);
  border-radius:50px;
}

.login_button {
  display:block;
  width:50px; height:16px;
  margin:auto; margin-top:10px; box-sizing: border-box;
  text-align:center; color:#fff;
  background-image: linear-gradient(90deg, #472a77, #9f478e);
  border-radius: 50px;
}

.paragraph {
  width:100%; height: auto;
}
.paragraph > p {
  text-align:center; font-size: 10px; font-family: 'Noto Sans KR';
  margin:auto;
}