/* practice_js_banner_fadeout.css */

#wrap {
  width:100%; height:auto;
  margin:auto;
  padding-bottom:700px;
  background-color: #efefef;
}

.part {
  position:relative;
  width:100%; max-width:800px; height:auto; padding:1rem;
  margin:1rem auto; box-sizing:border-box;
  background-color: #cdf;
}

h2 {
  width:90%; height: auto;
  margin:auto; border-bottom:1px solid #07a;
  padding-bottom:0.5rem;
}

.button_area { 
  position:absolute; z-index:200; /* js에서 position을 css보다 나중에 줘서 가려지기 때문에 z-index 줌 */
  right:1rem; bottom:1rem;
  width:auto; height:2.5rem; /* position을 주면 float을 줬을때와 마찬가지로 가로값 자동으로 먹음 */
  padding:0.5rem; background-color: rgba(0,0,0,0.5);
 }

.indicator{
  float:left;
  width:auto; height:100%;
}
.indicator ul {
  float:left;
  width:auto; height: 100%;
  margin-right:1rem;
}
.indicator li {
  float:left;
  width: 2.5rem; height: 2.5rem; margin-right:1rem;
  padding:0.3rem; box-sizing:border-box;
}

.indicator li:last-child { margin-right:0;}

.indicator a {
  display: block;
  width:100%; height: 100%;
  background-color:rgba(255, 200, 0, 0.7);
  border-radius:100%;
  font-size:0;
}

.indicator .act a {
  background-color:#171717;
  border:0.1rem solid #fff;
}



.indicator p {
  float:right;
  width:2.7rem; height:100%;
  padding: 0 0.5rem;
  text-align:center; line-height:2.5rem;
  background-color:#dfdfdf;
}

.total {float:right;}
.now {float:left;}

.button_select{
  float:right;
  width:auto; height:100%;
  margin-left: 1.5rem;
  background-color:#acf;
}

.button_select button {
  width:2.5rem; height:2.5rem;
  background-color:#05a;
  color:#fff; font-weight:700;
}
.next { float:right; margin-left:0.56rem;}
.prev { float:left; }


.view_area {
  overflow:hidden;
  width:100%; height:500px;
  border:1px solid #333;
  box-sizing:border-box;
}

.view_area ul {
  width:400%; height:100%;
  background-image:linear-gradient(45deg, #fff, #fdd);
}

.view_area li {
  float:left;
  width:calc( 100% / 4 ); height: 100%;
  border-right:1px solid #777;
  box-sizing:border-box;
  padding:2rem;
}