/* practice_parallax_02.css */

#wrap {
  width:100%; min-width:1300px; max-width:1600px; height:auto;
  margin:auto; padding-bottom:800px;
}

.part_01 {
  width:100%; height:100vh;
  padding:1rem; box-sizing:border-box;
}

h2 {
  font-size:1.5rem; color:#008080; margin-bottom:0.5rem;
}

.part_02{
  width:100%; height:auto;
  padding:1rem; box-sizing:border-box;
  background-color:#ddd;
}

.part_02 ul {
  width:100%; height:auto;
}

.part_02 li {
  width:100%; height:500px;
  margin-bottom:50px;
  padding: 30px; box-sizing:border-box;
  border-top:1px dotted #07f;
  border-bottom:1px solid #666;
}

.img_box {
  float:left;
  width:400px; height:100%; margin-right:100px;
  background-repeat: no-repeat;
  background-position:50% 0;
  background-size:100%;
}

.part_02 li:nth-child(2) > .img_box{ float:right; margin-right:0; margin-left: 100px; }
.part_02 li:nth-child(1) > .img_box{ background-image:url("../../img/parallax/img_03.jpg"); }
.part_02 li:nth-child(2) > .img_box{ background-image:url("../../img/parallax/img_04.jpg"); }

