/* practice_js_indicator.css */

#wrap {
  width:800px; height: 800px;
  margin:auto;
  background-color: #ddd;
}

.part {
  position:relative;
  width: 100%; height: 100%;
  padding: 20px; box-sizing:border-box;
}

.indicator {
  position:absolute; top:86%; left:0; right:0;  z-index: 1;
  width:250px; height:40px;
  margin:auto;
  border-radius:300px; box-sizing:border-box;
  background-color: #ddd;
  transform:translateY(-86%);
}

.indicator li{
  float:left;
  width:30px; height: 30px;
  margin-top:5px; margin-left:15px;
}

.indicator li:first-of-type {
  margin-left:20px;
}

.indicator li a {
  width: 100%; height:100%;
  border-radius:100%; box-sizing:border-box;
  background-color:#fff;
}

.view_area {
  width:700px; height: 700px;
  margin:auto;
  background-color:#fff;
}

.view_area li {
  width: 100%; height: 100%;
}


.view_area li a {
  display:block;
  width: 120px; height: 30px;
  background-color:#ddd;
}
