/* css/src/practice_join_002.css */

#wrap {
  width: 100%; height: auto; min-height: 1214px;
  background-color: #f5f6f7;
}

h1{
  width: 100%; height: 100%;
}

h1 > a {
  display: block; width: 240px; height: 45px;
  margin:auto; padding-top: 60px; box-sizing: border-box;
  background-image:url(../../img/join_002/naver_logo.png);
  background-repeat: no-repeat;
  background-position:50% 50%;
}

#joinBox{
  width:458px; height: auto;
  margin: auto;
}

form {
  width: 100%; height: auto;
}

fieldset{
  width: 100%; height: auto;
  margin-bottom:40px;
}

ul {
  width: 100%; height: auto;

}

.text_id_pw > li:first-child {
  margin-top:36px;
}


li {
  width:458px; height: 50px;
  margin-bottom:20px;
  border:1px solid #ededed; box-sizing: border-box;
  background-color:#fff;
}

.text_id_pw > label {
  float:left;
  display: block;
  width:100%; height: auto;
  cursor:pointer;
  font-weight: 600;
}

input::placeholder {
  color:#757575;
  line-height: 50px;
}